
<div class="row>">
  <div class="col-md-4" id="signinblock">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f| %>

    <fieldset>
        <legend>Sign In</legend>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password %>

      

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.input :remember_me, as: :boolean %>
          
        </div>
      <% end %>

      <div class="actions">
        <%= f.button :submit, "Log in" %>
      </div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="col-md-8" id="right">
  <h2>Signing is easy</h2>
</div>
