<%= simple_form_for(@checkin, html: {class: "form-horizontal"}) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.input :title %>
  <%= f.input :content %>

  <%= f.button :submit, "Submit" %>

<% end %>
