

<p>
  <strong>Name:</strong>
 <%= @checkin.user.full_name %> <br>
 <strong>Title:</strong>
  <%= @checkin.title %><br>
  <strong>Content:</strong>
  <%= @checkin.content %>
  
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
